/* global style */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    --accent-color: #ff8200;
    --aside-background-color: #f7f7f7;
    --dark-grey: #757575;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    font-weight: 500;
}

header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    background: linear-gradient(90deg, rgba(255,130,0,1) 0%, rgba(231,176,0,1) 50%, rgba(255,224,0,1) 100%);
    color: white;
    grid-column: 1 / 3;
}

header i {
    font-size: 2rem;
}

nav {
    background-color: var(--aside-background-color);
    padding: 40px 20px;
    color: var(--dark-grey);
}

.button {
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

nav .button {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    padding-right: 0;
}

nav .button:hover {
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.add-item-heading {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid var(--dark-grey);
    font-size: 1.2rem;
}

.add-item-heading i {
    transition: all 0.2s ease-in-out;
}

.add-item-heading i:hover {
    color: var(--accent-color);
}

nav .active {
    background-color: var(--accent-color);
    color: white;
}

nav .button i {
    margin-right: 10px;
}

.task-list-container {
    width: clamp(600px, 80%, 1000px);
}

main {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    color: var(--dark-grey);
}

.hidden {
    display: none;
}

.project {
    display: flex;
    justify-content: space-between;
}

.edit, .delete {
    transition: all 0.2s ease-in-out;
}

.edit:hover, .delete:hover {
    color: var(--accent-color);
}

.active .edit:hover, .active .delete:hover {
    color: var(--dark-grey);
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--aside-background-color);
    padding: 12px 16px;
    align-items: center;
}

.task-item:hover {
    background-color: #eeeded;
}

.task-item:active {
    background-color: #ebe9e9;
}

.strike {
    text-decoration: line-through;
}

.task-item-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.task-item-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.task-item-right div {
    display: flex;
    gap: 10px;
}

.task-item-right .date {
    width: 80px;
}

.task-item button {
    background-color: var(--aside-background-color);
    padding: 5px 10px;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.task-item button:hover {
    background-color: var(--accent-color);
    color: white;
}

.low {
    border-left: 5px solid lightgreen;
}

.medium {
    border-left: 5px solid lightsalmon;
}

.high {
    border-left: 5px solid lightcoral;
}

.modal {
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    width: 400px;
    border: none;
    box-shadow: 0 0 4px 0 var(--dark-grey);
    border-radius: 5px;
}

.modal-header {
    background: linear-gradient(90deg, rgba(255,130,0,1) 0%, rgba(231,176,0,1) 50%, rgba(255,224,0,1) 100%);
    display: flex;
    color: white;
    padding: 16px;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header i {
    font-size: 1.2rem;
}

i:hover {
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: var(--dark-grey);
    gap: 4px;
    margin-top: 8px;
}

.modal form input {
    padding: 10px 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
    color: var(--dark-grey);
    font-size: 1.05rem;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

.modal form input:focus {
    border-color: var(--accent-color);
}

.form-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.form-buttons button {
    padding: 10px 12px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    outline: none;
}

.form-buttons button:hover, .task-item {
    cursor: pointer;
}

.cancel-button {
    color: var(--dark-grey)
}

.cancel-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.form-buttons .submit-button {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: white;
}

.form-buttons .submit-button:hover {
    background-color: #e97100;
    border-color: #e97100;
}

.delete-modal-header {
    background: linear-gradient(90deg, rgba(191,0,0,1) 0%, rgba(253,29,29,1) 50%, rgba(255,83,34,1) 100%); 
}

.form-buttons .delete-submit-button {
    background-color: #d00808;
    border-color: #d00808;
    color: white;
}

.form-buttons .delete-submit-button:hover {
    background-color: #bb0606;
    border-color: #bb0606;
}

.delete-cancel-button {
    color: var(--dark-grey)
}

.delete-cancel-button:hover {
    border-color: black;
}

textarea {
    outline: none;
    border: 1px solid lightgray;
    padding: 4px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    color: var(--dark-grey);
}

textarea:focus {
    border-color: var(--accent-color);
}

select {
    margin-bottom: 10px;
    background-color: white;
    padding: 10px 8px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: var(--dark-grey);
}